<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action = "/facultadformulario/" method = "POST">{% csrf_token %}
    <p> Año: <input type="number" name ="anio"></p>

    <p> Carrera: <input type="text" name="carrera"></p>

    <p> Universidad: <input type="text" name="universidad"></p>

    <p> Email: <input type="email" name="email"></p>

    <input type="submit" value = "Enviar">


</form>




</body>
</html>